/*
 * █▀▀ █░█ █ █ █▀ ▄▀█ █
 * █▄▄ █▀█ █ █ ▄█ █▀█ █.css
 *
 * an modern, friendly css framework
 *
 */

/* uncomment the following file to get the font from google webfont */
/* @import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap'); */

:root {
  /*
   * █▀▀ █▀█ █░░ █▀█ █░█ █▀█ ▄▄ █▀▄ █▀▀ █▀▀ █ █▄░█ █ ▀█▀ █ █▀█ █▄░█ █▀
   * █▄▄ █▄█ █▄▄ █▄█ █▄█ █▀▄ ░░ █▄▀ ██▄ █▀  █ █░▀█ █ ░█░ █ █▄█ █░▀█ ▄█
   *
   * Colours inspired by Animal Crossing: New Leaf.
   * Following an Semantic Scheme.
   * Why? Because it seems to me like less work.
   * And because it seems like it is the most used
   * system by other css-frameworks.
   * Additionally it makes it easier to see that a
   * site was created with chiisai.css and also
   * lets users use their own color-scheme.
   * The current definitions is inspired by the Cirrus
   * SCSS framework.
   * Uses the Amarante[1] Typeface by Karolina Lach[2]
   *
   * [1]: https://www.karolinalach.com/amarante.html
   * [2]: https://karolinalach.com
   */
  --primary: #ccff88;
  --dark: #222222;
  --light: #eeeeee;
  --link: #1077ff;
  --link-dark: #0000ff;
  --info: #00cdff;
  --success: #88ff00;
  --warning: #ffdd00;
  --danger: #ff0000;
  --transparent: transparent;
  --black: #000000;
  --white: #ffffff;

  /*
   * █▀▀ █░░ █░█ █ █▀▄ █ ▀█▀ █▄█
   * █▀  █▄▄ █▄█ █ █▄▀ █ ░█░ ░█░
   *
   * working with fluidity to make it very modern looking
   *
   */
  --size-step--1: clamp(0.7956rem, 0.8387rem + -0.0269vw, 0.8333rem);
  --size-step-0: clamp(1rem, 0.9821rem + 0.0893vw, 1.125rem);
  --size-step-1: clamp(1.2rem, 1.1442rem + 0.2791vw, 1.5908rem);
  --size-step-2: clamp(1.44rem, 1.3244rem + 0.5781vw, 2.2493rem);
  --size-step-3: clamp(1.728rem, 1.5205rem + 1.0375vw, 3.1805rem);
  --size-step-4: clamp(2.0736rem, 1.7274rem + 1.7312vw, 4.4973rem);
  --size-step-5: clamp(2.4883rem, 1.9353rem + 2.7649vw, 6.3592rem);
  --size-step-6: clamp(2.986rem, 2.128rem + 4.2899vw, 8.9918rem);

  --space-3xs-2xs: clamp(0.5rem, 0.4911rem + 0.0446vw, 0.5625rem);
  --space-2xs-xs: clamp(0.5rem, 0.4464rem + 0.2679vw, 0.875rem);
  --space-xs-s: clamp(0.75rem, 0.6964rem + 0.2679vw, 1.125rem);
  --space-s-m: clamp(1rem, 0.9018rem + 0.4911vw, 1.6875rem);
  --space-m-l: clamp(1.5rem, 1.3929rem + 0.5357vw, 2.25rem);
  --space-l-xl: clamp(2rem, 1.8036rem + 0.9821vw, 3.375rem);
  --space-xl-2xl: clamp(3rem, 2.7857rem + 1.0714vw, 4.5rem);
  --space-s-l: clamp(1rem, 0.8214rem + 0.8929vw, 2.25rem);
  --space-l-2xl: clamp(2rem, 1.6429rem + 1.7857vw, 4.5rem);
}

/*
 * █▄░█ █▀█ █▀█ █▀▄▀█ ▄▀█ █░░ █ ▀█ █▀▀
 * █░▀█ █▄█ █▀▄ █░▀░█ █▀█ █▄▄ █ █▄ ██▄
 *
 * normalising the css to create a decent baseline
 * 
 * based on:
 * - https://defensivecss.dev/articles/intro-defensive-css/
 * - https://piccalil.li/blog/a-more-modern-css-reset/
 * - https://www.joshwcomeau.com/css/custom-css-reset/
 */

/*
 * [1] Set the box-sizing for every object to border box.
 *     => The usage of a way more intuitive box-sizing model.
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
 * [1] Remove the default margin.
 */
* {
  margin: 0;
}

/*
 * [1] Prevening font size inflation.
 * [2] Set the font to the system-ui font with a fallback of sans-serif fonts.
 */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-family:
    system-ui,
    -apple-system,
    Roboto,
    Ubuntu,
    "Helvetica Neue",
    sans-serif;
}

/* 
 * [1] Remove the list style.
 * [2] Removing the padding.
 */
ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding: 0px;
}

/*
 * [1] Setting the minimum height of the body to the screen height.
 *     Alternative to this is '100vh', but those can cause problems
 *     on mobile phones with the link bar.
 * [2] Setting the line height to a legible height.
 * [3] Improve text rendering.
 */
body {
  min-height: 100svh;
  line-height: 1.5;
  -webkit-font-smoothing: antialised;
}

/*
 * [1] Set a shorter line heights for certain elements.
 */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/*
 * [1] Break words when there is enough space.
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  overflow-wrap: break-word;
}

/*
 * [1] Remove the underline when there is href is not set.
 * [2] Setting the color to the current color when href is not set.
 */
a:not([href]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/*
 * [1] Set the font family to inherit it from it's parent element.
 * [2] Set the font size to inherit it from it's parent element.
 */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/*
 * [1] Set the textarea so that textareas without the row attribute
 *     are not tiny.
 */
textarea:not([rows]) {
  min-height: 10em;
}

/*
 * [1] Set a scrool margin so that anything that has been anchored
 *     has an extra scrool margin.
 */
:target {
  scroll-margin-block: 5ex;
}

/*
 * [1] Set the diplay of the media to block.
 * [2] Set the maximum width.
 */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
 * [1] Let the media cover its bounding box to avoid distortion.
 */
img,
picture,
video {
  object-fit: cover;
}

/*
 * Removing default margin
 */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/*
 * █▄▄ ▄▀█ █▀ █▀▀
 * █▄█ █▀█ ▄█ ██▄
 *
 * fixing some minor problems with the reset, like the links.
 *
 */

a[href] {
  color: var(--link);

  &:visited {
    color: var(--link-dark);
  }
}

/*
 * ▄▀█ █▀▀ █▀▀ █▀▀ █▀ █▀ █ █▄▄ █ █░░ █ ▀█▀ █▄█
 * █▀█ █▄▄ █▄▄ ██▄ ▄█ ▄█ █ █▄█ █ █▄▄ █ ░█░ ░█░
 *
 * TODO: many more accessibility need should be accomodated for!
 *
 */

/* disabling all animations, !important so that *nothing* overrides it */
@media (prefers-reduced-motion) {
  *,
  *::before,
  *::after {
    animation-duration: 0s !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}

/*
 * ▀█▀ █▄█ █▀█ █▀█ █▀▀ █▀█ ▄▀█ █▀█ █░█ █▄█
 * ░█░ ░█░ █▀▀ █▄█ █▄█ █▀▄ █▀█ █▀▀ █▀█ ░█░
 *
 * everything to do with typography,
 *
 */

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p,
li,
blockquote {
  text-wrap: pretty;
}

h1,
h2,
h3 {
  max-width: 20ch;
}

p,
li,
blockquote:not([class]) {
  max-width: 50ch;
}

h1 {
  font-size: var(--size-step-6);
}

h2 {
  font-size: var(--size-step-5);
}

h3 {
  font-size: var(--size-step-4);
}

h4 {
  font-size: var(--size-step-3);
}

h5 {
  font-size: var(--size-step-2);
}

h6 {
  font-size: var(--size-step-1);
}

body,
p,
blockquote,
code {
  font-size: var(--size-step-0);
}

small {
  font-size: var(--size-step--1);
}

/* fonts used by chiisai */

/* Amarante is a cozy and amazing Art Nouveau font */
.font-amarante {
  font-family: "Amarante", serif;
  font-weight: 400;
  font-style: normal;
}

/*
 * █▀▀ █▀█ █▀▄▀█ █▀█ █▀█ █▀ █ ▀█▀ █ █▀█ █▄░█
 * █▄▄ █▄█ █░▀░█ █▀▀ █▄█ ▄█ █ ░█░ █ █▄█ █░▀█
 *
 * classes that help with the composition of the webpage
 *
 */

/* grid */

.grid {
  display: grid;
  grid-template-columns: repeat(
    var(--grid-placement, autofill),
    minmax(var(--grid-min-item-size, 16rem), 1fr)
  );
  gap: var(--gutter, var(--space-s-l));
}

.grid[data-layout="50-50"] {
  --grid-placement: auto-fit;
  --grid-min-item-size: clamp(16rem, 50vw, 26rem);
}

/* list */

.list {
  display: flex;
  flex-direction: column;

  .reverse {
    flex-direction: column-reverse;
  }

  &.center {
    align-items: center;
  }
}

/* gaps */
.grid,
.list {
  &.gap-xs {
    gap: var(--space-xs-s);
  }
  &.gap-s {
    gap: var(--space-s-m);
  }
  &.gap-m {
    gap: var(--space-m-l);
  }
  &.gap-l {
    gap: var(--space-l-xl);
  }
  &.gap-xl {
    gap: var(--space-xl-2xl);
  }
}

/*
 * █░█ ▀█▀ █ █░░ █▀
 * █▄█ ░█░ █ █▄▄ ▄█
 *
 * all the utility parts
 *
 */

/*
 * The flow utility. Creates a top margin of the font height of the element.
 * inspired by the flow composition of the cube-boilerplate by set-studio:
 * https://github.com/Set-Creative-Studio/cube-boilerplate/tree/main
 *
 */
.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

/* margins */
.m-xs,
.mt-xs,
.mr-xs,
.mb-xs,
.ml-xs,
.mx-xs,
.my-xs {
  margin: var(--space-xs-s);
}

.m-s,
.mt-s,
.mr-s,
.mb-s,
.ml-s,
.mx-s,
.my-s {
  margin: var(--space-s-m);
}

.m-m,
.mt-m,
.mr-m,
.mb-m,
.ml-m,
.mx-m,
.my-m {
  margin: var(--space-m-l);
}

.m-l,
.mt-l,
.mr-l,
.mb-l,
.ml-l,
.mx-l,
.my-l {
  margin: var(--space-l-xl);
}

.m-xl,
.mt-xl,
.mr-xl,
.mb-xl,
.ml-xl,
.mx-xl,
.my-xl {
  margin: var(--space-xl-2xl);
}

.m-auto,
.mt-auto,
.mr-auto,
.mb-auto,
.ml-auto,
.mx-auto,
.my-auto {
  margin: auto;
}

/* paddings */
.p-xs,
.pt-xs,
.pr-xs,
.pb-xs,
.pl-xs,
.px-xs,
.py-xs {
  padding: var(--space-xs-s);
}

.p-s,
.pt-s,
.pr-s,
.pb-s,
.pl-s,
.px-s,
.py-s {
  padding: var(--space-s-m);
}

.p-m,
.pt-m,
.pr-m,
.pb-m,
.pl-m,
.px-m,
.py-m {
  padding: var(--space-m-l);
}

.p-l,
.pt-l,
.pr-l,
.pb-l,
.pl-l,
.px-l,
.py-l {
  padding: var(--space-l-xl);
}

.p-xl,
.pt-xl,
.pr-xl,
.pb-xl,
.pl-xl,
.px-xl,
.py-xl {
  padding: var(--space-xl-2xl);
}

.p-auto,
.pt-auto,
.pr-auto,
.pb-auto,
.pl-auto,
.px-auto,
.py-auto {
  padding: auto;
}

.full-screen {
  width: 100%;
  height: 100svh;
}

/* not pseudoclass, so this will not override .list */
:not(.list).center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.region {
  padding-top: var(--region-space, var(--space-l-2xl));
  padding-bottom: var(--region-space, var(--space-l-2xl));
}

.wrapper {
  margin-inline: auto;
  padding-inline: 1rem;
  max-width: 60rem;
}

/* text utilities */
.text-center {
  text-align: center;
}

.downcase {
  text-transform: lowercase;
}

.upcase {
  text-transform: uppercase;
}

/*
 * █▀▀ █▀█ █░░ █▀█ █░█ █▀█ █▀
 * █▄▄ █▄█ █▄▄ █▄█ █▄█ █▀▄ ▄█ 
 */

/* BACKGROUNDS */
.bg-primary {
  background-color: var(--primary);
}

.bg-dark {
  background-color: var(--dark);
}

.bg-light {
  background-color: var(--light);
}

.bg-link {
  background-color: var(--link);
}

.bg-link-dark {
  background-color: var(--link-dark);
}

.bg-info {
  background-color: var(--info);
}

.bg-success {
  background-color: var(--success);
}

.bg-warning {
  background-color: var(--warning);
}

.bg-danger {
  background-color: var(--danger);
}

.bg-transparent {
  background-color: var(--transparent);
}

.bg-black {
  background-color: var(--black);
}

.bg-white {
  background-color: var(--white);
}

/* FOREGROUND */
.text-dark {
  color: var(--dark);
}

.text-light {
  color: var(--light);
}

.text-light {
  color: var(--light);
}

.text-link {
  color: var(--link);
}

.text-link-dark {
  color: var(--link-dark);
}

.text-info {
  color: var(--info);
}

.text-success {
  color: var(--success);
}

.text-warning {
  color: var(--warning);
}

.text-danger {
  color: var(--danger);
}

.text-transparent {
  color: var(--transparent);
}

.text-black {
  color: var(--black);
}

.text-white {
  color: var(--white);
}

/* BORDER */

.fg-primary {
  border-color: var(--primary);
}

.fg-dark {
  border-color: var(--dark);
}

.fg-light {
  border-color: var(--light);
}

.fg-link {
  border-color: var(--link);
}

.fg-link-dark {
  border-color: var(--link-dark);
}

.fg-info {
  border-color: var(--info);
}

.fg-success {
  border-color: var(--success);
}

.fg-warning {
  border-color: var(--warning);
}

.fg-danger {
  border-color: var(--danger);
}

.fg-transparent {
  border-color: var(--transparent);
}

.fg-black {
  border-color: var(--black);
}

.fg-white {
  border-color: var(--white);
}

/*
 * █▀▀ █░░ █▀▀ █▀▄▀█ █▀▀ █▄░█ ▀█▀ █▀
 * ██▄ █▄▄ ██▄ █░▀░█ ██▄ █░▀█ ░█░ ▄█
 *
 * elements that are predefined in this framework
 *
 * TODO: create 'em
 *
 */

/*
 * █▄▄ ▄▀█ █▀ █▀▀
 * █▄█ █▀█ ▄█ ██▄
 *
 * mainly for testing ...
 */

body {
  background-color: var(--dark);
  color: var(--light);
}
