@mixin color($name, $color, $border) {
  --#{$name}: #{$color};
  --#{$name}-border: #{$border};
}

:root {
  --background: #ECECEC;
  --foreground: #121212;
  --light-shadow: #0001;

  @include color("pink", #FF65AD, "");
  @include color("red", #FF7573, "");
  @include color("orange", #FF6500, "");
  @include color("peach", #FFBA8C, "");
  @include color("purple", #EF8AFF, "");
  @include color("fuchsia", #FF55EF, "");
  @include color("brown", #AD7542, "");
  @include color("yellow", #FFFF73, "");
  @include color("indigo", #BD9AEF, "");
  @include color("blue", #8C9AFF, "");
  @include color("dark-green", #63CF73, "");
  @include color("light-green", #CEFF8C, "");
  @include color("slate-blue", #73CFFF, "");
  @include color("light-blue", #00CFFF, "");
  @include color("ocean-blue", #00FFCE, "");
  @include color("green", #ADFFAD, "");
}

// @media (prefers-color-scheme: dark) {
//   :root {
//   }
// }