// the base or variables
@mixin color($name, $color, $border, $inner, $background) {
  --#{$name}: #{$color};
  --#{$name}-border: #{$border};
  --#{$name}-inner: #{$inner};
  --#{$name}-background: #{$background};
}

:root {
  --background: #ececec;
  --foreground: #121212;
  --light-shadow: #0001;

  @include color("pink", #ff65ad, #ff0063, #ffefff, #ffefff);
  @include color("red", #ff7573, #ff7573, #ffbace, #ffbace);
  @include color("orange", #ff6500, #ff6500, #decfbd, #decfbd);
  @include color("peach", #ffba8c, #ffaa8c, #ffefde, #ffefde);
  @include color("purple", #ef8aff, #ce00ff, #ffcfff, #ffcfff);
  @include color("fuchsia", #ff55ef, #ff00ce, #ffbaff, #ffbaff);
  @include color("brown", #ad7542, #9c3000, #deba9c, #deba9c);
  @include color("yellow", #ffff73, #ffdf00, #ffffce, #ffffce);
  @include color("indigo", #bd9aef, #6300ff, #debaff, #debaff);
  @include color("blue", #8c9aff, #0000ff, #bdbaff, #bdbaff);
  @include color("dark-green", #63cf73, #008a31, #9cefbd, #9cefbd);
  @include color("light-green", #ceff8c, #8cff00, #deffbd, #deffbd);
  @include color("slate-blue", #73cfff, #1075ff, #bddfff, #bddfff);
  @include color("light-blue", #00cfff, #00cfff, #adffff, #adffff);
  @include color("ocean-blue", #00ffce, #00ffce, #ceffef, #ceffef);
  @include color("green", #adffad, #21df21, #adffad, #adffad);
}

// @media (prefers-color-scheme: dark) {
//   :root {
//   }
// }
