// Bento boxes
@use "sass:list";

.bento {
  display: grid;

  &.gap-sm {
    gap: 0.5rem;
  }

  &.gap-md {
    gap: 1rem;
  }

  &.gap-lg {
    gap: 2rem;
  }

  // Note(Important):
  //  All grids are in row-column order
  @mixin grid($m, $n) {
    &.\3#{$n}x#{$m} {
      grid-template-rows: repeat($m, 1fr);
      grid-template-columns: repeat($n, 1fr);
      aspect-ratio: list.slash($n, $m);
      grid-auto-flow: dense;
      overflow: hidden;
      // Add when added to browser
      // reading-flow: grid-rows;

      *{
        grid-row: span 1;
        grid-column: span 1;
        aspect-ratio: list.slash(1,1)
      }
    }
  }

  @for $i from 2 through 4 {
    @for $j from 2 through 4 {
      @include grid($i, $j);
    }
  }

  // The parts of the bento boxes
  .part {
    @mixin part($m, $n) {
      &.\3#{$n}x#{$m} {
        grid-row: span $n;
        grid-column: span $m;
        aspect-ratio: list.slash($n, $m);
      }
    }

    @for $i from 1 through 4 {
      @for $j from 1 through 4 {
        @include part($i, $j);
      }
    }
  }

  &.no-aspect-rato {
    aspect-ratio: auto;
  }
}
