// boxes, boxes, boxes, I love boxes
@use "../utilities/colors.scss" as *;

.box {
  border: 3px solid;
  border-radius: 10px;
  padding: 5px;

  &:hover {
    transform: scale(1.05)
  }

  @mixin color($name, $background-color, $border-color, $inner-color) {
    &.is-#{$name} {
      background-color: $background-color;
      border-color: $border-color;

      .inner-box{
        background-color: $inner-color;
        border-radius: 15px;
        max-width: 100%;
        max-height: 100%;
        margin: 10px 15px;
        padding: 5px;
      }
    }

  }

  @each $color in $colors {
    @include color(#{$color}, var(--#{$color}), var(--#{$color}-border), var(--#{$color}-inner));
  }
}
