// boxes, boxes, boxes, I love boxes
@import "../utilities/colors.scss";

.box {
  border-radius: 1rem;
  padding: 0.5rem;

  @mixin color($name, $background-color, $border-color) {
    .is-#{$name} {
      background-color: $background-color;
      border-color: $border-color;
      border-style: solid;
    }
  }

  @each $color in $colors {
    @include color(#{$color}, var(--#{$color}), var(--#{$color}-border));
  }
}
