// Accesability

// disabling all animations, !important so that *nothing* overrides it
@media (prefers-reduced-motion) {
  *, *::before, *::after {
    animation-duration: 0s !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}
