// some basic global varibales that should be useful
$colours: "yellow", "pink", "purple", "blue", "green", "red", "normal", "brown";

// the base or variables
@mixin color($name, $color, $border, $foreground) {
  --#{$name}-background: #{$color};
  --#{$name}-border: #{$border};
  --#{$name}-foreground: #{$foreground};
}

:root {
  @include color("yellow", #ffff00, #ffaa21, #ffaa21);
  @include color("pink", #ff9aad, #ff00ce, #ff00ce);
  @include color("purple", #bd9aef, #520073, #520073);
  @include color("blue", #bddfff, #1075ff, #1075ff);
  @include color("green", #adffad, #21df21, #21df21);
  @include color("red", #ff7573, #ff0000, #ff0000);
  @include color("normal", #ececec, #484848, #121212);
  @include color("brown", #ceaa73, #734531, #734531);

  /* using fluid type scale calculator from utopia.fyi calculator
     link: https://utopia.fyi/type/calculator?c=320,16,1.2,2560,18,1.414,6,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12
  */
  --font-step--1: clamp(0.7956rem, 0.8387rem + -0.0269vw, 0.8333rem);
  --font-step-0: clamp(1rem, 0.9821rem + 0.0893vw, 1.125rem);
  --font-step-1: clamp(1.2rem, 1.1442rem + 0.2791vw, 1.5908rem);
  --font-step-2: clamp(1.44rem, 1.3244rem + 0.5781vw, 2.2493rem);
  --font-step-3: clamp(1.728rem, 1.5205rem + 1.0375vw, 3.1805rem);
  --font-step-4: clamp(2.0736rem, 1.7274rem + 1.7312vw, 4.4973rem);
  --font-step-5: clamp(2.4883rem, 1.9353rem + 2.7649vw, 6.3592rem);
  --font-step-6: clamp(2.986rem, 2.128rem + 4.2899vw, 8.9918rem);
}
