// boxes, boxes, boxes, I love boxes
@import "base.scss";

.box {
  border: 3px solid;
  border-radius: 10px;
  padding: 5px;

  @each $colour in $colours {
    &.is-#{$colour} {
      background-color: var(--#{$colour}-background);
      border-color: var(--#{$colour}-border);
    }
  }
}
