@import "bento.scss";

:root {
  --fg: #121212;
  --bg: #fdfdfd;
  --el: #00000006;

  --color1: #64263c;
  --color2: #3f1826;
  --color3: #f9d1ae;
  --color4: #a71b1b;
  --color5: #2f5cfe;
  --color6: #f0cece;
  --color7: #fee43e;
  --color8: #ffffff;
  --color9: #272727;
  --color10: #c39eab;
}