:root {
  --fg: #121212;
  --bg: #fdfdfd;
  --el: #00000006;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #212121;
    --fg: #dddddd;
    --el: #ffffff06;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--fg);
  background-color: var(--bg);
  /* prettier-ignore */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  padding: 1rem 0;
  margin: 0 auto;
  max-width: 700px;
  min-height: 100vh;
}

@media (max-width: 700px) {
  main {
    padding: 10px;
  }
}

h1 {
  font-size: 3rem;
  margin-bottom: 0.9rem;
}

h2 {
  font-size: 2.4rem;
  margin-bottom: 0.8rem;
}

h3 {
  font-size: 2rem;
  margin-bottom: 0.7rem;
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover,
a:focus {
  color: var(--bg);
  background-color: var(--fg);
}

p {
  line-height: 1.5rem;
}

blockquote {
  display: block;
  padding: 1rem 1.4rem;
  border-left: 0.25rem solid var(--fg);
  background-color: var(--el);
}

@media (prefers-color-scheme: dark) {
  blockquote {
    background-color: var(--el);
  }
}

ol,
ul {
  display: block;
  margin-block: 1rem;
  padding-inline-start: 40px;
}

img {
  margin: 1rem 0;
  width: 100%;
}

figcaption {
  text-align: center;
  padding-bottom: 1.25rem;
}

footer {
  text-align: right;
  padding-top: 2rem;
  padding-bottom: 0.75rem;
}
