// Typography things
@use "sass:list";

/* Using fluid web typography */
h1,
h2,
h3 {
  max-width: 20ch;
}

p,
li,
blockquote:not([class]) {
  max-width: 50ch;
}

h1 {
  font-size: var(--size-step-6);
}

h2 {
  font-size: var(--size-step-5);
}

h3 {
  font-size: var(--size-step-4);
}

h4 {
  font-size: var(--size-step-3);
}

h5 {
  font-size: var(--size-step-2);
}

h6 {
  font-size: var(--size-step-1);
}

body,
p,
blockquote,
code {
  font-size: var(--size-step-0);
}

small {
  font-size: var(--size-step--1);
}
