@import "base.scss";

.full-screen {
  height: 100svh;
  width: 100svw;
}

/* The flow utility. Creates a top margin of the font height of the element.
   inspired by the flow composition of the cube-boilerplate by set-studio:
   https://github.com/Set-Creative-Studio/cube-boilerplate/tree/main
*/
.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

.region {
  padding-top: var(--region-space, var(--space-l-2xl));
  padding-bottom: var(--region-space, var(--space-l-2xl));
}

.wrapper {
  margin-inline: auto;
  padding-inline: 1rem;
  max-width: 60rem;
}
