// making tables better

.table-wrapper {
  width: 100%;
  overflow-x: auto;
}

table {
  border-spacing: 0px;
}

td, th {
  padding: 0.5em;
}

// make the table header stick to the top
th {
  position: sticky;
  top: 0;
}

:is(tbody, table) > tr:nth-child(odd) {
  background: var(--light-shadow);
}
